@import url('https://fonts.googleapis.com/css2?family=Lexend');

* {
    font-family: 'Lexend', sans-serif;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

button {
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    transition: .4s;
}

.new-color-button {
    font-size: 1.2em;
}

.new-color-button:hover {
    font-size: 1.3em;
    transition: .4s;
}

.copy-button {
    font-size: .8em;
}

.copy-button:hover {
    background-color: #d4d4d4;
    transition: .4s;
}